[Unit]
Description=Selftop
Wants=graphical.target
#Requires=graphical.target
#After=xrecord-echo.service

[Service]
Type=simple
ExecStart=selftop
Restart=always

[Install]
WantedBy=default.target
